/* Aplica a todos los inputs con autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px red inset; /* reemplaza 'white' por el color de fondo de tu input */
  -webkit-text-fill-color: black; /* color del texto */
  transition: background-color 5000s ease-in-out; /* evita el parpadeo */
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.flash-highlight {
  animation: flash 1s ease-in-out;
}

@keyframes flash {
  0% { background-color: rgba(255, 255, 0, 0.5); }
  50% { background-color: transparent; }
  100% { background-color: transparent; }
}
